@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --canvas: 225 38% 8%;
    --panel: 224 25% 12%;
    --primary: 223 73% 39%;
    --on-primary: 0 0% 100%;
    --fg-default: 285 6% 86%;
    --fg-muted: 222 7% 63%;
    --fg-primary: 223 54% 76%;
    --fg-error: 0 84% 70%;
    --border: 0 0% 15%;
  }

  html,
  body {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen min-w-80 bg-canvas text-fg antialiased;
  }

  * {
    @apply border-border outline-none;
  }
}
